<div class="content-header">
    <div class="header-cotainer">
      <h1>预约报名</h1>
      <h1>APPOINTMENT APPLICATION</h1>
    </div>
  </div>
  <div class="breadcrumb">
    <div class="breadcrumb-container">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="['/home']">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          预约报名
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-divider></nz-divider>
    </div>
  </div>
  <div class="section-wrap content-container">
    <div class="section-container">
        123123
    </div>
  </div>