<waf-select (clickItem)="chosedItem($event)" [allItems]="allOptions" [selectedItems]="selectedOptions" selectType="list">
  <ul class="select-list">
    <ng-container *ngFor="let item of allOptions; let i = index;">
      <li *ngIf="item.showSearch && !showMultiList" (click)="clickItem(i, $event, 'select')" [class.itemSelected]="item.selected" [title]="item.label">
        {{item.label}}
        <i class="action" nz-icon type="check"></i>
      </li>
      <li *ngIf="item.showSearch && showMultiList" (click)="clickItem(i, $event, 'select')" [class.itemSelected]="item.selected" [title]="item.label">
          <ng-container *ngFor="let label of item.label">
            <span [style.width]="label.width">{{label.name}}</span>
          </ng-container>
          <i class="action" nz-icon type="check"></i>
        </li>
    </ng-container>
  </ul>
</waf-select>