<!-- <div [formGroup]="form" class="age-input">
  <div>
    <mat-input-container>
      <input type="text" mtInput [matDatepicker]="birthPicker" formControlName="birthday" placeholder="生日">
      <button mtSuffix [mtDatepickerToggle]="birthPicker" type="button"></button>
      <mt-error>日期不正确</mt-error>
      <mt-datepicker touchUi="true" #birthPicker></mt-datepicker>
    </mat-input-container>
  </div>
  <ng-container formGroupName="age">
    <div class="age-num">
      <mt-input-container>
        <input type="number" placeholder="年龄" mtInput formControlName="ageNum">
      </mt-input-container>
    </div>
    <div>
      <mt-button-toggle-group formControlName="ageUnit">
        <mt-button-toggle *ngFor="let unit of ageUnits" [value]="unit.value">
          {{unit.label}}
        </mt-button-toggle>
      </mt-button-toggle-group>
    </div>
    <mt-error>年龄或单位不正确</mt-error>
  </ng-container>
</div> -->