<div class="content-header">
  <div class="header-cotainer">
    <h1>历届成绩</h1>
    <h1>PAST ACHIEVEMENTS</h1>
  </div>
</div>
<div class="breadcrumb">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a><span>首页</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a><span>历届成绩</span></a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-divider></nz-divider>
  </div>
</div>
<div class="section-wrap achive-container">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <ng-template #coverTemplate>
        <img alt="example" src="assets/img/qingmu/kobi.jpg" />
      </ng-template>
    </div>
    <div class="pagination-container">
      <nz-pagination
      [(nzPageIndex)]="pageIndex"
      [nzTotal]="500"
      [nzPageSize]="10"
      nzShowQuickJumper
      (nzPageIndexChange)="jump()"
      ></nz-pagination>
    </div>
  </div>
</div>
