<div class="content-header">
  <div class="header-cotainer">
    <h1>关于我们</h1>
    <h1>ABOUT US</h1>
  </div>
</div>
<div class="breadcrumb">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/home']">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        关于我们
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-divider></nz-divider>
  </div>
</div>
<div class="section-wrap content-container">
  <div class="section-container">
    <div>
      <nz-tabset [nzTabPosition]="'left'" [nzType]="'line'">
          <nz-tab *ngFor="let tab of tabs;" [nzTitle]="tab">
            <!-- 介绍 -->
            <h2>画室介绍</h2>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;武汉青沐画室创建于2005年，是一所经过教育部门批准的正规专业美术培训机构，是湖北省乃至华中地区最具规模和影响力的美术培训学校之一，是湖北省十大
              诚信品牌美术培训机构，是湖北省美术高考行业协会组委会单位和中国美术学院社会美术考级中心指定考级点。学校现今拥有一万二千平米的独立教学场地。校内拥
              有教学楼、宿舍楼、食堂、超市和独立活动场所。学校具有优越的学习环境、正规的教学体系和严格的纪律管理,实行全封闭式教学管理模式。 
            </p>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;武汉青沐画室历时十二载，成绩斐然，已为各大高校输送三千多名优秀学生，其中六百多名学员考取清华大学美术学院，中央美术学院，中国人民大学，北京师
              范大学，中国美术学院等一流的高校。学校始终保持勤奋求实的学风，本着对学生高度负责任的态度，严谨执教。凭借多年的教学经验、高质量的硬件、雄厚的师资
              力量、严格的管理制度，我们坚信能够帮助每一位学子实现大学梦。
            </p>
            <img src="assets/img/qingmu/studioview.jpg" alt="">
            <!-- 办学理念 -->
            <h2 style="margin-top: 24px;">办学理念</h2>
            <h3>■ 因材施教</h3>
            <p>为每一位学生量身打造合适的教学体系，入学摸底测试充分了解每一位学生的实力，确保每一位学生得到充分的发展。</p>
            <h3>■ 注重基础</h3>
            <p>合抱之木，生于毫末；九层之台，起于垒土；千里之行，始于足下。基础是任何一门学问的重中之重，如果没有打下扎实的基础，就像是大楼没有牢固的地基，即使
                再华丽，也终有坍塌的一天。所以，画室特别注重每一位学生的美术基础教育，培养每一位学生的美术感觉，而不是单纯的应试教育。</p>
            <h3>■ 打造学习型的团队</h3>
            <p>
                学校鼓励学生多多交流心得，也会有意安排优秀的学生帮助落后的学生，这样使得优秀的学生可以在帮助别的学生的同时再巩固所学的知识，最终实现共同进步。
            </p>
            <img  src="assets/img/qingmu/student.jpg" alt="">
            <!-- 管理模式 -->
            <h2 style="margin-top: 24px;">管理模式</h2>
            <h3>■ 封闭式管理</h3>
            <p>全程教学实施封闭式管理，拥有先进教学体系，配备教务管理老师，教学管理老师，后勤生活老师，励志心理辅导老师，让家长零担忧。</p>
            <h3>■ 跟踪式服务</h3>
            <p>从进入青沐画室到录取结束，青沐画室将全程跟踪学生进步幅度与各方面的问题，及时总结及时调整，以天、周、月等不同的形式总结汇报并督促教师根据汇报情况
                因材施教，个性化教学。</p>
            <h3>■ 分班制教学</h3>
            <p>青沐画室根据学生的专业绘画基础进行分班授课，主要分为美院班、精品班、联考协议班、一本协议班等班别，班级实行班主任责任制跟踪教学。</p>
            <h3>■ 模拟考试季</h3>
            <p>联考前保证有三次大型模拟考试（与省内高端学员的同台竞技）；学校每周、每月进行模拟考试，对每位学生的学习进度做到心中有数，做到针对性的个别教学，同
                时总结归纳并分析问题，做到具体问题具体解决。</p>
            <h3>■ 定期回访制</h3>
            <p>青沐画室定期向每一位学员家长做电话回访，让每一位家长及时了解学员在青沐画室的学习情况和心理状态，与家长一起，全身心帮助学生调整压力与学习困难。</p>
            <h3>■ 多彩生活圈</h3>
            <p>抱怨学习美术枯燥？不要担心，学校将不定期开展各种户外写生、画展赏析、春秋游记等活动来丰富学生的课余生活。</p>
            <h3>■ 多样化学习</h3>
            <p>理论与实践相结合，传统课程与多媒体课程相互穿插，室内学习与户外写生相呼应，立体式责任制提高学生专业能力；同学作品互评、大师佳作共赏、由浅入深地提
                高学生的艺术鉴赏能力。</p>
            <img  src="assets/img/qingmu/outdoors.jpg" alt="">
          </nz-tab>
        </nz-tabset>
    </div>
  </div>
</div>