<div class="introduction" nz-row>
  <div class="anchor-container" nz-col [nzXs]="10" [nzSm]="10" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
    <nz-anchor [nzAffix]="false">
      <nz-link nzHref="#components-anchor-demo-basic" nzTitle="Basic demo"></nz-link>
      <nz-link nzHref="#components-anchor-demo-static" nzTitle="Static demo"></nz-link>
      <nz-link nzHref="#API" nzTitle="API">
        <nz-link nzHref="#anchor-props" nzTitle="nz-anchor"></nz-link>
        <nz-link nzHref="#link-props" nzTitle="nz-link"></nz-link>
      </nz-link>
    </nz-anchor>
  </div>
  <div class="introduction-content" nz-col [nzXs]="14" [nzSm]="14" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXXl]="18">
    <h3>xxxxxx</h3>
  </div>
</div>