<!-- carousel -->
<div class="carousel-container">
  <nz-carousel nzAutoPlay>
    <div nz-carousel-content *ngFor="let index of array">
      <h3>{{index}}</h3>
    </div>
  </nz-carousel>
</div>
<!-- achivements -->
<div class="section-wrap">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="section-name">
          历届成绩
        </div>
        <div class="section-name-en">
          PAST ACHIEVEMENTS
        </div>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <ng-template #coverTemplate>
        <img alt="example" src="assets/img/qingmu/kobi.jpg" />
      </ng-template>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="view-more">
          <a href="" class="btnarea button_btndefault-link">
            <span class="button_btndefault-label">查看更多+</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- course feature -->
<div class="section-wrap course-feature">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="section-name course-feature-name">
          画室简介
        </div>
        <div class="section-name-en  course-feature-name-en">
          BRIEF INTRODUCTION
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <!-- <div class="feature-profile">
          关于我们
        </div> -->
        <div class="feature-content">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><i>武汉青沐画室</i></b>&nbsp;创建于2005年，是一所经过教育部门批准的正规专业美术培训机构，是湖北省乃至华中地区最具规模和影响力的美术培训学校之一，是湖北省十大
            诚信品牌美术培训机构，是湖北省美术高考行业协会组委会单位和中国美术学院社会美术考级中心指定考级点。学校现今拥有一万二千平米的独立教学场地。校内拥
            有教学楼、宿舍楼、食堂、超市和独立活动场所。学校具有优越的学习环境、正规的教学体系和严格的纪律管理,实行全封闭式教学管理模式。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- hot course -->
<div class="section-wrap hot-course">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="section-name">
          热门班型
        </div>
        <div class="section-name-en">
          POPULAR COURSES
        </div>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <ng-template #coverTemplate>
        <img alt="example" src="assets/img/qingmu/kobi.jpg" />
      </ng-template>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="view-more">
          <a href="" class="btnarea button_btndefault-link">
            <span class="button_btndefault-label">查看更多+</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- advantages -->
<div class="section-wrap course-feature team-advantages">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="section-name course-feature-name">
          教学理念
        </div>
        <div class="section-name-en  course-feature-name-en">
          TEACHING PHILOSOPHY
        </div>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <div class="team-group">
          <div class="team-symble">
            <div class="symble-container">
              <i nz-icon iconfont="lts-graph"></i>
            </div>
          </div>
          <div class="desc">
            因材施教
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <div class="team-group">
          <div class="team-symble">
            <div class="symble-container">
              <i nz-icon iconfont="lts-course"></i>
            </div>
          </div>
          <div class="desc">
            注重基础
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <div class="team-group">
          <div class="team-symble">
            <div class="symble-container">
              <i nz-icon iconfont="lts-team"></i>
            </div>
          </div>
          <div class="desc">
            跟踪式服务
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <div class="team-group">
          <div class="team-symble">
            <div class="symble-container">
              <i nz-icon iconfont="lts-profession"></i>
            </div>
          </div>
          <div class="desc">
            定期回访制
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- excellent works -->
<div class="section-wrap hot-course">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="section-name">
          优秀作品
        </div>
        <div class="section-name-en">
          EXCELLENT WORKS
        </div>
      </div>
    </div>
    <div nz-row>
      <nz-tabset>
        <nz-tab nzTitle="老师作品">
          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
              <nz-card-meta></nz-card-meta>
            </nz-card>
          </div>
          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
              <nz-card-meta></nz-card-meta>
            </nz-card>
          </div>
          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
              <nz-card-meta></nz-card-meta>
            </nz-card>
          </div>
          <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
            <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
              <nz-card-meta></nz-card-meta>
            </nz-card>
          </div>
        </nz-tab>
        <nz-tab nzTitle="学生作品">
            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
                  <nz-card-meta></nz-card-meta>
                </nz-card>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
                  <nz-card-meta></nz-card-meta>
                </nz-card>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
                  <nz-card-meta></nz-card-meta>
                </nz-card>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
                  <nz-card-meta></nz-card-meta>
                </nz-card>
              </div>
        </nz-tab>
        <nz-tab nzTitle="出版物">
            <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
                  <nz-card-meta></nz-card-meta>
                </nz-card>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
                  <nz-card-meta></nz-card-meta>
                </nz-card>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
                  <nz-card-meta></nz-card-meta>
                </nz-card>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
                <nz-card class="section-item" nzHoverable [nzCover]="coverTemplate">
                  <nz-card-meta></nz-card-meta>
                </nz-card>
              </div>
        </nz-tab>
      </nz-tabset>
      <ng-template #coverTemplate>
        <img alt="example" src="assets/img/qingmu/kobi.jpg" />
      </ng-template>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="view-more">
          <a href="" class="btnarea button_btndefault-link">
            <span class="button_btndefault-label">查看更多+</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- news -->
<div class="section-wrap news">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="section-name">
          新闻资讯
        </div>
        <div class="section-name-en">
          NEWS CENTER
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div nz-row>
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
            <div class="news-img">
              <p class="news-icon">
                <i nz-icon iconfont="lts-news"></i>
              </p>
              <p class="news-title">
                <span>NEWS</span>
              </p>
              <P class="news-time">
                <span>2010/12</span>
              </P>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="20" [nzXl]="20" [nzXXl]="20">
            <div class="news-content">
              <nz-list class="news-list" [nzDataSource]="data" nzBordered [nzHeader]="'Header'" [nzFooter]="'Footer'"
                [nzRenderItem]="item">
                <ng-template #item let-item>
                  <nz-list-item [nzContent]="item"></nz-list-item>
                </ng-template>
              </nz-list>
            </div>
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="view-more" id="view-news">
          <a href="" class="btnarea button_btndefault-link">
            <span class="button_btndefault-label">查看更多+</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>