<nz-dropdown>
  <a nz-dropdown>
   系统安全<i nz-icon type="down"></i>
  </a>
  <ul nz-menu>
    <li nz-menu-item style="padding: 5px 200px 5px 20px;">
      <b style="margin-right: 15px;">Portal</b>
      <span>登录门户、可定制化网页</span>
    </li>
    <li nz-menu-item style="padding: 5px 200px 5px 20px;">
      <b style="margin-right: 15px;">Portal</b>
      <span>登录门户、可定制化网页</span>
    </li>
    <li nz-menu-item style="padding: 5px 200px 5px 20px;">
      <b style="margin-right: 15px;">Portal</b>
      <span>登录门户、可定制化网页</span>
    </li>
    <li nz-menu-item style="padding: 5px 200px 5px 20px;">
      <b style="margin-right: 15px;">Portal</b>
      <span>登录门户、可定制化网页</span>
    </li>
    <li nz-menu-item style="padding: 5px 200px 5px 20px;">
      <b style="margin-right: 15px;">Portal</b>
      <span>登录门户、可定制化网页</span>
    </li>
  </ul>
</nz-dropdown>