<!-- carousel -->
<div class="carousel-container">
  <nz-carousel nzAutoPlay>
    <div nz-carousel-content *ngFor="let index of array">
      <h3>{{index}}</h3>
    </div>
  </nz-carousel>
</div>
<!-- shotcut menu -->
<!-- <div class="shotcut-menu" nz-row>
  <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="6" [nzXXl]="6">
    <div class="shotcut-menu-item">
      <span class="shotcut-menu-container">
        <img class="shotcut-menu-img shotcut-menu-primary" src="assets/img/qingmu/course_primary.png">
        <img class="shotcut-menu-img shotcut-menu-active" src="assets/img/qingmu/course_active.png">
      </span>
    </div>
  </div>
  <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="6" [nzXXl]="6">
    <div class="shotcut-menu-item">
      <span class="shotcut-menu-container">
        <img class="shotcut-menu-img shotcut-menu-primary" src="assets/img/qingmu/team_primary.png" alt="">
        <img class="shotcut-menu-img shotcut-menu-active" src="assets/img/qingmu/team_active.png" alt="">
      </span>
    </div>
  </div>
  <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="6" [nzXXl]="6">
    <div class="shotcut-menu-item">
      <span class="shotcut-menu-container">
        <img class="shotcut-menu-img shotcut-menu-primary" src="assets/img/qingmu/news_primary.png" alt="">
        <img class="shotcut-menu-img shotcut-menu-active" src="assets/img/qingmu/news_active.png" alt="">
      </span>
    </div>
  </div>
  <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="6" [nzXXl]="6">
    <div class="shotcut-menu-item">
      <span class="shotcut-menu-container">
        <img class="shotcut-menu-img shotcut-menu-primary" src="assets/img/qingmu/booking_primary.png" alt="">
        <img class="shotcut-menu-img shotcut-menu-active" src="assets/img/qingmu/booking_active.png" alt="">
      </span>
    </div>
  </div>
</div> -->
<!-- hot course -->
<div class="section-wrap hot-course">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="section-name">
          画室公开课
        </div>
        <div class="section-name-en">
          OPEN COURSE
        </div>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
        <div class="card-container">
          <div class="card-play">
            <i nz-icon type="play-circle"></i>
          </div>
          <nz-card class="section-item section-item-left hot-class-item" nzHoverable [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
        </div>
      </div>
      <div nz-col class="card-container" [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
        <nz-card class="section-item hot-class-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col class="card-container" [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
        <nz-card class="section-item hot-class-item section-item-right" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col class="card-container" [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
        <nz-card class="section-item hot-class-item section-item-left" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col class="card-container" [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
        <nz-card class="section-item hot-class-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col class="card-container" [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
        <nz-card class="section-item hot-class-item section-item-right" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
        </nz-card>
      </div>
      <ng-template #coverTemplate>
        <img alt="example" src="assets/img/qingmu/kobi.jpg" />
      </ng-template>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="view-more">
          <a href="" class="btnarea button_btndefault-link">
            <span class="button_btndefault-label">查看更多+</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- course feature -->
<div class="section-wrap course-feature">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="section-name course-feature-name">
          全程互动
        </div>
        <div class="section-name-en  course-feature-name-en">
          WHOLE PROCESS INTERACTION
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <div class="feature-profile">
          xxxx
        </div>
        <div class="feature-content">
          <p>
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          </p>
          <p>
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          </p>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <div class="feature-img">
          <img src="assets/img/qingmu/kobi_basket.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- team introduction -->
<div class="section-wrap team-introduction">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="section-name">
          团队介绍
        </div>
        <div class="section-name-en">
          TEAM INTRODUCTION
        </div>
      </div>
      <div nz-col [nzXs]="8" [nzSm]="8" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item section-item-left team-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="8" [nzSm]="8" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item team-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="8" [nzSm]="8" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item team-item" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="6" [nzXXl]="6">
        <nz-card class="section-item team-item section-item-right" nzHoverable [nzCover]="coverTemplate">
          <nz-card-meta></nz-card-meta>
        </nz-card>
      </div>
      <ng-template #coverTemplate>
        <img alt="example" src="assets/img/qingmu/kobi.jpg" />
      </ng-template>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="view-more">
          <a href="" class="btnarea button_btndefault-link">
            <span class="button_btndefault-label">查看更多+</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- advantages -->
<div class="section-wrap course-feature team-advantages">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="section-name course-feature-name">
          我们的优势
        </div>
        <div class="section-name-en  course-feature-name-en">
          OUR ADVANTAGES
        </div>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <div class="team-group">
          <div class="team-symble">
            <div class="symble-container">
              <i nz-icon iconfont="lts-graph"></i>
            </div>
          </div>
          <div class="group-description">
            <p class="group-title">xxxxx</p>
            <p class="group-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <div class="team-group">
          <div class="team-symble">
            <div class="symble-container">
              <i nz-icon iconfont="lts-team"></i>
            </div>
          </div>
          <div class="group-description">
            <p class="group-title">xxxxx</p>
            <p class="group-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <div class="team-group">
          <div class="team-symble">
            <div class="symble-container">
              <i nz-icon iconfont="lts-course"></i>
            </div>
          </div>
          <div class="group-description">
            <p class="group-title">xxxxx</p>
            <p class="group-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <div class="team-group">
          <div class="team-symble">
            <div class="symble-container">
              <i nz-icon iconfont="lts-profession"></i>
            </div>
          </div>
          <div class="group-description">
            <p class="group-title">xxxxx</p>
            <p class="group-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- news -->
<div class="section-wrap news">
  <div class="section-container">
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="section-name">
          新闻资讯
        </div>
        <div class="section-name-en">
          NEWS CENTER
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div nz-row>
          <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="4" [nzXl]="4" [nzXXl]="4" >
            <div class="news-img">
              <p class="news-icon">
                <i nz-icon iconfont="lts-news"></i>
              </p>
              <p class="news-title">
                <span>NEWS</span>
              </p>
              <P class="news-time">
                <span>2010/12</span>
              </P>
            </div>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="20" [nzXl]="20" [nzXXl]="20" >
            <div class="news-content">
                <nz-list
                  class="news-list"
                  [nzDataSource]="data"
                  nzBordered
                  [nzHeader]="'Header'"
                  [nzFooter]="'Footer'"
                  [nzRenderItem]="item">
                <ng-template #item let-item><nz-list-item [nzContent]="item"></nz-list-item></ng-template>
              </nz-list>
            </div>
          </div>
        </div>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <div class="view-more" id="view-news">
          <a href="" class="btnarea button_btndefault-link">
            <span class="button_btndefault-label">查看更多+</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>