<ng-container [ngSwitch]="inputType">
  <!-- ip、mask输入框 -->
  <ng-container *ngSwitchCase="'ipaddress'">
    <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
      <input #wafInput nz-input class="ip-input" [(ngModel)]="inputValue" [placeholder]="placeHolder">
    </nz-input-group>
    <!-- 前置内嵌图标 -->
    <ng-template #prefixTemplate>
      <span class="ip-icon-container" (click)='switchIp()'>
        <i class="ip-icon ip-v4" [@v4ShowToV4Hide]="showIpv4 ? 'v4Show' : 'V4Hide'"></i>
        <i class="ip-icon ip-v6" [@v6HideToV6Show]="showIpv4 ? 'v6Hide' : 'V6Show'"></i>
      </span>
    </ng-template>
    <!-- 删除按钮 -->
    <ng-template #suffixTemplate><i nz-icon type="close-circle" (click)="clearInput()" *ngIf="inputValue"></i></ng-template>
  </ng-container>
  <!-- mail输入框 -->
  <ng-container *ngSwitchCase="'mail'">
    <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate" [nzAddOnAfter]="addOnAfterTemplate">
      <input #wafInput nz-input [(ngModel)]="inputValue" [placeholder]="placeHolder">
    </nz-input-group>
    <!-- 前置内嵌图标 -->
    <ng-template #prefixTemplate>
      <i nz-icon type="mail"></i>
    </ng-template>
    <!-- 删除按钮 -->
    <ng-template #suffixTemplate><i nz-icon type="close-circle" (click)="clearInput()" *ngIf="inputValue"></i></ng-template>
    <!-- 后置下拉框 -->
    <ng-template #addOnAfterTemplate>
      <nz-select [ngModel]="'@fhrd.com'">
        <nz-option *ngFor="let item of mailSuffix" [nzLabel]='item' [nzValue]='item'></nz-option>
      </nz-select>
    </ng-template>
  </ng-container>
</ng-container>