<div style="display: flex;">
  <!-- <div style="flex: 1; text-align: center;padding-top: 100px;">
    <app-c-adds [ads]="ads"></app-c-adds>
  </div> -->
  <div style="flex: 1; height: 600px">
    <waf-carousel>
        <waf-carousel-content>
          111111111111111111
        </waf-carousel-content>
        <waf-carousel-content>
          222222222222222222
        </waf-carousel-content>
        <waf-carousel-content>
          33333333333333333333
        </waf-carousel-content>
        <waf-carousel-content>
          444444444444444
        </waf-carousel-content>
        <waf-carousel-content>
          555555555555555555
        </waf-carousel-content>
    </waf-carousel>
    <!-- <button nz-button>f</button> -->
    <!-- <video 
      style="width: 375px; height: 200px;"
      src="assets/videos/movie.mp4"
      controls
      >
      该浏览器不支持HTML5 video
    </video> -->
  </div>
  <!-- <div style="width: 800px; height: 500px">
    <nz-carousel>
      <div nz-carousel-content>
        <div style="display: flex;">
          <h3 style="flex: 1">123123123213</h3>
        </div>
      </div>
      <div nz-carousel-content *ngFor="let index of array">
        <div style="display: flex">
          <h3 style="flex: 1">{{index}}</h3>
        </div>
      </div>
    </nz-carousel>
  </div> -->

</div>