<!-- 模板：全局功能 -->
<div id="global">
  <classic-global></classic-global>
</div>
<!-- mat -->
<!-- <mat-sidenav-container [class.myapp-dark-theme]="darkTheme">
  <mat-sidenav #sidenav mode="side" opened="false" position="start">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="side">
      <header>
        <app-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
      </header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <app-footer></app-footer>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- 青沐画室 -->
<div class="page-wrapper">
  <header id="header" class="clearfix">
    <i nz-icon type="menu" class="nav-phone-icon" (click)="toggleHide()"></i>
    <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <div id="logo">
          <a href>
            <img alt="logo" src="./assets/img/qingmu/logo.png">
            <h3>LTSOK</h3>
          </a>
        </div>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="16" [nzLg]="12" [nzXl]="12" [nzXXl]="12">
        <!-- <button nz-button nzGhost nzSize="small" class="header-lang-button" (click)="switchLanguage(language==='zh'?'en':'zh')">{{language=='zh'?'English':'中文'}}</button> -->
        <ul class="nav">
          <li *ngFor="let item of routerList">
            <a routerLink="{{item.path}}" routerLinkActive="active"><span>{{item.name}}</span></a>
          </li>
        </ul>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <div id="phone">
          <span class="icon-wrap">
            <i nz-icon type="phone"></i>
          </span>
          <span>xxxx</span>
        </div>
      </div>
    </div>
  </header>
  <div id="main-wrapper">
    <div nz-row class="row-container">
      <div nz-col [class.hide-menu]="hideMenu" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="main-menu">
        <ul nz-menu [nzMode]="'inline'" class="aside-container menu-site">
          <li *ngFor="let item of routerList" nz-menu-item >
            <a routerLink="{{item.path}}">{{item.name}}</a>
          </li>
        </ul>
      </div>
      <div nz-col class="main-container" [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="footer-wrap">
      <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <div class="footer-center">
            <span>ltsok</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>