

footer {
    .footer-contact {
        text-align: center;
        line-height: 120px;
        white-space: nowrap;
        background: -webkit-linear-gradient(left,#38B9B5,#27ADC8,#16A1DA); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right,#38B9B5,#27ADC8,#16A1DA); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right,#38B9B5,#27ADC8,#16A1DA); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right,#38B9B5,#27ADC8,#16A1DA); /* 标准的语法 */
        .contact-col {
            text-align: right;
        }
        .btn-col {
            text-align: left;
        }
        .contact-content {
            color: #fff;
            font-size: 20px;
        }
    }
    .footer-wrap {
        font-size: 14px;
        background-color: #282828;
        color: #868585;
        box-shadow: 0 1000px 0 1000px #fff;
        position: relative;
        padding: 15px 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        text-align: center;
        .footer-center {
            // display: inline-block;
            // text-align: left;
            ul {
                display: flex;
                width: 50%;
                margin: 0 auto;
                li {
                    flex: 1;
                    padding: 10px;
                }
            }
        }
        .footer-logo {
            display: flex;
            padding: 20px 0;
            a {
                display: inline-block;
                margin: 0 auto;
                img {
                    width: 50px;
                }
            }
        }
        .copyright {
            display: flex;
            span {
                flex: 1;
            }
        }
    }
    a {
        color: #868585;
    }
}
