.nav-phone-icon {
  display: none;
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 1;
  width: 16px;
  height: 22px;
  cursor: pointer;
}

.hide-menu {
  display: none;
}
  
@media only screen and (max-width: $screen-xl) {
  #logo {
    padding: 0 40px;
  }
  .banner-wrapper .banner-title-wrapper {
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 16px;
    }
  }
}
  
@media only screen and (max-width: 767.99px) {

  #header {
    text-align: center;
    #logo {
      float: initial;
    }
  }

  ul.nav,
  ul.nav li {
    width: 100%;
    font-size: 14px;
  }

  ul.nav li {
    line-height: 40px;
    height: 40px;
    padding: 0 !important;
    border: 0;
    a {
      color: #333;
    }
  }

  .nav-phone-icon {
    display: block;
  }

  .nav-phone-icon:before {
    content: "";
    display: block;
    border-radius: 2px;
    width: 16px;
    height: 2px;
    // background: #777;
    // box-shadow: 0 6px 0 0 #777, 0 12px 0 0 #777;
    position: absolute;
  }

  // carousel
  .carousel-container {
    height: 280px !important;
  }

  [nz-carousel-content] {
    line-height: 280px !important;
  }

  // shotcut-menu
  .shotcut-menu-img {
    width: 150px !important;
  }

  // hot-class
  .hot-class-name {
    padding-top: 30px !important;
    font-size: 20px !important;
  }

  .hot-class-item {
    width: 150px !important;
  }

  #footer {
    text-align: center;
  }

}
  