.nav-phone-icon {
  display: none;
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 1;
  width: 16px;
  height: 22px;
  cursor: pointer;
}

.hide-menu {
  display: none;
}

@media only screen and (max-width: $screen-xl) {
  #logo {
    padding: 0 40px;
  }

  .banner-wrapper .banner-title-wrapper {
    h1 {
      font-size: 36px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 768px) {

  #header {
    text-align: center;

    #logo {
      float: initial;
    }
  }

  ul.nav,
  ul.nav li {
    width: 100%;
    font-size: 14px;
  }

  ul.nav li {
    line-height: 40px;
    height: 40px;
    padding: 0 !important;
    border: 0;

    a {
      color: #333;
    }
  }

  .nav-phone-icon {
    display: block;
  }

  .nav-phone-icon:before {
    content: "";
    display: block;
    border-radius: 2px;
    width: 16px;
    height: 2px;
    // background: #777;
    // box-shadow: 0 6px 0 0 #777, 0 12px 0 0 #777;
    position: absolute;
  }

  // carousel
  .carousel-container {
    height: 280px !important;
  }

  [nz-carousel-content] {
    line-height: 280px !important;
  }

  // shotcut-menu
  .shotcut-menu-img {
    width: 150px !important;
  }

  // hot-course
  .section-name {
    padding-top: 30px !important;
    font-size: 20px !important;
  }

  .hot-class-item {
    width: 150px !important;
  }

  .section-item-left {
    float: none !important;
  }

  .section-item-right {
    float: none !important;
  }

  .hot-course-more {
    margin-top: 15px !important;
  }

  // course-feature
  .feature-profile {
    font-size: 14px !important;
  }

  .feature-img {
    img {
      height: 165px !important;
    }
  }

  #footer {
    text-align: center;
  }

}

@media only screen and (max-width: 1200px) {
  .section-item-left {
    float: none !important;
  }

  .section-item-right {
    float: none !important;
  }

  .feature-profile {
    text-align: center;
    padding-top: 15px !important;
  }

  .feature-content {

    p {
      margin: 0 auto !important;
    }
  }

  .feature-img {
    text-align: center !important;
    padding-top: 15px !important;
  }
}