<div class="select-container" tabindex="0" (click)="inputFocus($event)" #seletcContainer>
  <div class="select-content">
    <!-- <div class="select-placeholder">123123</div> -->
    <ul [id]="inputId">
      <ng-container *ngFor="let item of selectedOptions; let i = index;">
        <li *ngIf="item.showOptions">
          <div *ngIf="!showMultiList" class="select-label" [title]="item.label">{{item.label}}</div>
          <div *ngIf="showMultiList" class="select-label" [title]="item.label[0].name">{{item.label[0].name}}</div>
          <span class="select-icon" (click)="choseItem(i, $event, 'inputOptions')">
            <i class="action" nz-icon type="close"></i>
          </span>
        </li>
      </ng-container>
      <li class="select-edit" *ngIf="showSummary">
        <button nz-button nzType="primary" nzSize="small" (click)="editSelected($event)">已选择{{selectedOptions?.length}}项<i
            nz-icon type="edit"></i></button>
      </li>
    </ul>
  </div>
  <span class="select-arrow" [@arrowAnimation]="arrowDirection() === 'down' ? 'down' : 'up'">
    <i nz-icon type="down"></i>
  </span>
  <div class="select-dropdown-panel" [@dropDownAnimation]="showDropdown ? 'bottom' : 'hidden' " #dropdownAll [ngStyle]="dropdownStyle">
    <div class="select-dropdown-container">
      <div class="search-input" *ngIf="allOptions.length && dropdownPosition === 'bottom'">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input #searchInput placeholder="所有项搜索" type="text" nz-input [(ngModel)]="searchAll" (click)="searchFocus($event, 'all')"
            (input)="search('all')">
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon type="search"></i>
        </ng-template>
      </div>
      <ng-content></ng-content>
      <div class="message" *ngIf="!allOptions.length || showAllMismatch">
        <span *ngIf="!allOptions.length">内容为空</span>
        <span *ngIf="showAllMismatch">无匹配结果</span>
      </div>
      <div class="search-input" *ngIf="allOptions.length && dropdownPosition === 'top'">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input #searchInput placeholder="所有项搜索" type="text" nz-input [(ngModel)]="searchAll" (click)="searchFocus($event, 'all')"
            (input)="search('all')">
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon type="search"></i>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="select-dropdown-panel" [@dropDownAnimation]="showSelectedDropdown ? 'bottom' : 'hidden' "
    #dropdownSelected [ngStyle]="dropdownStyle">
    <div class="select-dropdown-container">
      <div class="search-input" *ngIf="allOptions.length && dropdownPosition === 'bottom'">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input placeholder="已选项搜索" type="text" nz-input [(ngModel)]="searchSelected" (click)="searchFocus($event, 'selected')"
            (input)="search('selected')">
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon type="search"></i>
        </ng-template>
      </div>
      <ul>
        <ng-container *ngFor="let item of selectedOptions; let i = index;">
          <li *ngIf="item.showSearch" (click)="choseItem(i, $event, 'select')" class="itemSelected" [title]="item.label">
            <span *ngIf="!showMultiList">{{item.label}}</span>
            <ng-container *ngIf="showMultiList">
              <ng-container *ngFor="let label of item.label">
                <span [style.width]="label.width">{{label.name}}</span>
              </ng-container>
            </ng-container>
            <i class="action" nz-icon type="check"></i>
          </li>
        </ng-container>
      </ul>
      <div class="message" *ngIf="!allOptions.length || showSelectedMismatch">
        <span *ngIf="!allOptions.length">内容为空</span>
        <span *ngIf="showSelectedMismatch">无匹配结果</span>
      </div>
      <div class="search-input" *ngIf="allOptions.length && dropdownPosition === 'top'">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input placeholder="已选项搜索" type="text" nz-input [(ngModel)]="searchSelected" (click)="searchFocus($event, 'selected')"
            (input)="search('selected')">
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon type="search"></i>
        </ng-template>
      </div>
    </div>
  </div>
</div>