:root { 

    // 配色方案:主色
    --waf-primary-color-1: #4181FF; 
    --waf-primary-color-2: #CCE1FF;
    --waf-primary-color-3: #E1E8F7;

    // 配色方案:辅色
    --waf-secondary-color-1: #FFFFFF;
    --waf-secondary-color-2: #F5F6FA;
    --waf-secondary-color-3: #E7EAEF;
    --waf-secondary-color-4: #707781;
    --waf-secondary-color-5: #343941;
    --waf-secondary-color-6: #273B5A;

    // 配色方案:点缀色
    --waf-ornament-color-1: #5771F3;
    --waf-ornament-color-2: #FB98A4;
    --waf-ornament-color-3: #166DF3;
    --waf-ornament-color-4: #75ABFF;
}